<h1>Achievements#index</h1>
<% @achievements.each  do |achievement|%>
    <%=achievement.achievement%>
    <%=achievement.note%>
    <%=achievement.date%> 
    <% if achievement.image.attached? %>
    <img src= <%=(url_for(achievement.image))%>
  <% end %> 
<br> 
    <%= link_to "Show ", achievement_path(achievement) %>
    
  
<%end%>